<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="About">About</a>
        <a asp-controller="Home" asp-action="Customers">Customers</a>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        <hr />
        Footer
    </div>
</body>
</html>
